<div class="container-fluid">
    <div class="col-2 offset-4 mt-4">
        <table class="table" *ngIf="measures">
            <thead class="bg-green">
                <tr>
                    <th scope="col" class="white">Temperature, interval : {{measures.interval}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let measure of measures.data">
                    <td>{{measure.TEMPERATURE.value | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>